/* Style for the grid container */
.card-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }  
  
  /* Styles for different columns */
  .column-1 {
    grid-column: 1;
  }
  
  .column-2 {
    grid-column: 2;
  }
  
  .column-3 {
    grid-column: 3;
  }

  .column-4 {
    grid-column: 4;
  }

  .column-5 {
    grid-column: 5;
  }
  