@import '../font/font.css';


body {
  overflow: auto;
}

.background-gradient {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.kanban-column {
  background: rgba(255, 255, 255, 0.70);
  width: 18vw;
  height: 60vh;
  max-height: 80vh;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
}

.kanban-columnTitle {
  background-color: rgba(255, 255, 255);
  color: #000;
  font-family: Avenir;
  font-size: 1.5vw;
  height: 7vh;
  cursor: default;
  border-radius: 12px 12px 0 0;
  padding: 1vw;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.kanban-tasksContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1vh;
  /*padding: 1vw 10%;*/
  overflow-x: hidden;
  overflow-y: auto;
  align-items: center;
}

.kanban-footerButton {
  display: flex;
  gap: 0.5vw;
  align-items: center;
  padding: 1vw;
  cursor: default;
  transition: 0.2s;
  color: #000;
  font-family: Avenir;
  font-size: 1.5vw;
  justify-content: space-between;
}

.clickable-icon {
  cursor: pointer;
  display: inline-flex; /* To ensure the div doesn't take the full width */
  align-items: center; /* To center the icon vertically */
}


.board-container {
  margin: auto;
  /*height: 100vh; */     /* Use the full height of the viewport */
  width: 100vw;       /* Use the full width of the viewport */
  /*display: flex;  */    
  justify-content: center; 
  align-items: center;     
  overflow: hidden;   /* Hide any potential overflow */
  padding: 2vh 2vw;   /* Example of responsive padding */
}

.column-group {
  max-height: 96vh;   /* Account for the padding */
  max-width: 96vw;    /* Account for the padding */
  /*margin: auto;*/
  display: flex;
  gap: 1vw;
  box-sizing: border-box;

}

.custom-modal-width {
  max-width: 100%;
}


.wide-ideas-section {
  width: 100%;
}

.plus-icon-hover {
  cursor: pointer;
  position: relative;
  top: 3px;
}
